* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    box-sizing: border-box;
}

body {
    background-color: #111010;
}

.sidebar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #181515;
    padding: 0.4rem 0.8rem;
}

.sidebar .top .logo {
    color: #ffff;
    display: flex;
    gap: 12px;
    width: 25px;
    height: 25px;
    margin-left: 70px;
    margin-top: 10px;
}

.sidebar ul h2 {
    color: #bab1b1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 20px;
    width: 90%;
    margin: 0.8rem 28px auto;
    line-height: 20px;
}

.sidebar .menu .menu-2 {
    margin-top: 50px;
}

.sidebar .menu {
    margin-top: 60px;
}

.sidebar ul li a {
    color: #9d8a8a;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    color: #6278ec;
}

.sidebar-item-active {
    color: #6278EC;
}

.main-content {
    position: absolute;
    top: 0;
    left: 250px;
    width: 80%;
    height: 160vh;
}

.navbar .user {
    color: #ffff;
    width: 120px;
    height: 30px;
    background-color: #292626;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;
    margin-right: -20px;
}

.navbar .user a {
    opacity: 35%;
    font-weight: 200;
    font-size: 14px;
    text-decoration: none;
    color: #ffff;
}

.navbar .menu-navbar i {
    color: #ffff;
}

.navbar .searchbar {
    width: 265px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 12px;
    background-color: #292626;
    margin-left: -110px;
}

.navbar .searchbar i {
    color: #ffff;
    opacity: 45%;
}

.navbar .searchbar .search-input {
    font-size: 16px;
    color: #ffff;
    margin-left: 14px;
    outline: none;
    border: none;
    background-color: transparent;
}

.navbar .menu-navbar a {
    color: #ffff;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 300;
}

.navbar .menu-navbar a:hover {
    color: #6278ec;
}

.navbar .menu-right {
    display: flex;
    gap: 8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
}

.hero {
    width: 100%;
    padding: 30px;
    height: 50vh;
    /* background-color: #9D8A8A; */
}

.hero p {
    color: #ffff;
    font-weight: bold;
    margin-top: 40px;
}

.hero h1 {
    color: #ffff;
    margin-top: 20px;
    font-weight: bold;
}

.hero .artist-song-name {
    display: flex;
    gap: 9px;
    color: #ffff;
}

.hero .artist-song-name h3 {
    font-weight: bold;
}

.hero .artist-song-name p {
    font-size: 10px;
    margin-top: 7px;
    opacity: 75%;
}

.hero img {
    width: 400px;
    margin-left: 500px;
    margin-top: -290px;
    opacity: 45%;
    position: absolute;
}

.btn-hero {
    display: flex;
    margin-top: 23px;
    margin-left: -5px;
    gap: 18px;
}

.btn-hero button {
    background-color: #6278ec;
    color: #ffff;
    width: 196px;
    height: 51px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

.btn-hero i {
    background-color: transparent;
    border: 2px white solid;
    color: #2f88ff;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-top: 2px;
}

.scroll-container {
    width: 600px;
    height: 225px;
    background-color: #292626;
    overflow-x: auto;
    margin-left: 30px;
    border-radius: 10px;
}

.scroll-container .header {
    color: #ffff;
    position: absolute;
    margin: 20px 10px;
}

.scroll-container .header h4 {
    font-weight: bold;
}

.scroll-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 100%;
    margin-left: -20px;
}

.scroll-container::-webkit-scrollbar {
    width: 0px;
}

.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 20px 18px;
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
}

.card img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .title {
    position: absolute;
    bottom: -15px;
    width: 100%;
    font-size: 10px;
    left: 0;
    right: 0;
    font-weight: bold;
}

.genres {
    width: 234px;
    height: 264px;
    margin: 30px;
    border-radius: 10px;
    background-color: #292626;
    padding: 3px;
    overflow-y: auto;
}

.genres::-webkit-scrollbar {
    width: 0px;
}

.genres .title {
    display: flex;
    margin: 10px;
    gap: 110px;
    color: #ffff;
    align-items: center;
    position: sticky;
}

.genres .title h4 {
    font-weight: bold;
}

.genres .title a {
    text-decoration: none;
    font-size: 12px;
    color: #ffff;
    font-weight: 200;
}

.content-genres {
    width: 100%;
    height: 80%;
    padding: 5px;
}

.content-genres .card-genre:nth-child(1) {
    width: 90px;
    height: 63px;
    background-color: #798ac6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ffff;
}

.content-genres .card-genre:nth-child(1) p {
    margin: 10px;
}

.content-genres .card-genre:nth-child(2) {
    width: 123px;
    height: 63px;
    background-color: #5fb862;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ffff;
    margin: -63px 96px;
}

.content-genres .card-genre:nth-child(3) {
    width: 115px;
    height: 63px;
    background-color: #7b3747;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ffff;
    margin: 70px -1px;
}

.content-genres .card-genre:nth-child(4) {
    width: 100px;
    height: 63px;
    background-color: #deb371;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ffff;
    margin: -133px 120px;
}

.content-genres .card-genre:nth-child(5) {
    width: 100px;
    height: 63px;
    background-color: #934d80;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ffff;
    margin: 140px 1px;
}

.content-genres .card-genre:nth-child(6) {
    width: 113px;
    height: 63px;
    background-color: #be96ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ffff;
    margin: -202px 107px;
}

.top-charts {
    width: 350px;
    height: 264px;
    background-color: #292626;
    margin: -293px 280px;
    border-radius: 10px;
    padding: 3px;
    overflow-y: auto;
}

.top-charts::-webkit-scrollbar {
    width: 0px;
}

.top-charts .title {
    display: flex;
    margin: 10px;
    gap: 180px;
    color: #ffff;
    align-items: center;
    position: sticky;
    background-color: #292626;
}

.top-charts .title h4 {
    font-weight: bold;   
}

.top-charts .title a {
    text-decoration: none;
    font-size: 12px;
    color: #ffff;
    font-weight: 200;
}

.container-charts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    margin: 20px;
}

.card-chart .plus-icon {
    width: 20px;
    height: 20px;
    border: 1.5px solid #38729b;
    color: #38729b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.card-chart img {
    border-radius: 10px;
    width: 47px;
    height: 47px;
    object-fit: cover;
}

.card-chart h4 {
    font-weight: bold;
    font-size: 11px;
}

.card-chart .desc p {
    font-size: 12px;
}

.card-chart {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #ffff;
}

.card-chart p {
    font-weight: 200;
}

.card-chart .desc {
    margin-left: -20px;
}

.card-chart span {
    margin-left: 30px;
    font-size: 11px;
}

.play-music {
    width: 355px;
    height: 522px;
    background-color: #292626;
    margin: -522px 640px;
    border-radius: 10px;
    overflow: hidden;
}

.play-music .header {
    color: #ffff;
    position: absolute;
    margin: 20px 10px;
}

.play-music .header h4 {
    font-weight: bold;
}

.play-music .content-music {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.play-music .content-music .display-music {
    text-align: center;
    color: #ffff;
}

/* .play-music .content-music .display-music h4 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.play-music .content-music .display-music p {
    font-size: 11px;
    font-weight: 500;
    margin-top: 5px;
} */

.play-music .content-music .display-music .song-info p {
    font-size: 12px;
    font-weight: bold;
}

.play-music .content-music .display-music img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.song-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px;
}

.artist-name {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 20px;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.progress-bar {
    width: 100%;
    margin: 0 10px;
}

.progress-bar input[type="range"] {
    width: 100%;
    accent-color: #ffff;
}

.controls-music {
    width: 355px;
    height: 134px;
    background-color: #6278EC;
    margin-bottom: -120px;
    border-radius: 10px;
}

.controls-music .controls-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 1px;
    width: 100%;
}

.controls-music .controls-1 i {
    font-size: 28px;
    color: #ffff;
}

.controls-music .controls-1 .bx-play {
    width: 40px;
    height: 40px;
    background-color: #ffff;
    color: #6278ec;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-music .controls-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -17px;
    justify-content: center;
    align-items: center;
    color: #ffff;
}

.content-music .controls-2 span {
    font-size: 11px;
}

.search-result {
    margin-left: 20px;
}

.search-result h1 {
    color: #ffff;
    font-weight: bold;
}

.content-result {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin-top: 20px;
}

.content-result a {
    text-decoration: none;
    color: #ffff;
}

.album img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.album {
    text-align: center;
}